html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  backdrop-filter: blur(15px);
  background-color: rgba(182, 182, 182, 0.2);
  color: white;
}

.tout{
  margin-top: 2vw;
}

.tout > p{
  margin-top: 4vw;
  margin-bottom: 2vw;
  text-align: center;
}

.Coordonés, .aPropos {
  width: 70%;
  height: 5vh;
  font-size: 100%;
}

article{
 margin: 10%;
 height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img{
  max-width: 4vw;
  border-radius: 14px;
}

.logiciel{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logiciel > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.L1{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.L2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

footer{
  position: fixed;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}


@media (max-width: 950px) {
  .Coordonés, .aPropos {
    width: 90%;
    font-size: 3vw;
  }
  img{
    max-width: 6vw;
  }

}

@media (max-width: 550px) {
  .Coordonés, .aPropos {
    width: 90%;
    font-size: 4vw;
  }
  img{
    max-width: 8vw;
  }
}