footer {
  flex-grow: 1;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
#IUTBordeaux{
  font-size: 1.5vw
}
a{
  color: white;
  margin: 10px;
}

@media (max-width: 695px) {
  footer{
    flex-direction: column;
  }
  #IUTBordeaux{
    font-size: 3vw;
  }
  footer > div{
    text-align: center;
  }
}