body{
    margin: 0px;
    background-image: url(../images/violet.png);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
  }
  header{
    height: 20vh;
    color: white;
    text-align: center;
    font-size: large;
  }
  .container {
    height: 15vh;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  button {
    display: inline-block;
    border-radius: 100px;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-size: large;
    transition: all 0.5s;
    cursor: pointer;
  }
  button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -75px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .menu{
    display: inline-block;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: medium;
    transition: all 0.5s;
    cursor: pointer;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 3vw;
  }

  p{
    padding-bottom: 15px;
    margin: 0px;
  }


  @media (max-width: 534px) {
    .container{
      flex-direction: column;
    }
    .menu{
      padding-right: 30px;
      padding-left: 30px;
    }
    header{
      font-size: smaller;
    }
  } 